@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: SF Pro Text, 蘋方-繁, 微軟正黑體;
}

.fz-40 {
  font-size: 40px;
}

.fz-32 {
  font-size: 32px;
}

.fz-28 {
  font-size: 28px;
}

.fz-24 {
  font-size: 24px;
}

.fz-20 {
  font-size: 20px;
}

.fz-16 {
  font-size: 16px;
}

.fz-14 {
  font-size: 14px;
}

.fw-bold {
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
  color: #8D8D8D;
}

.mfz {
  font-size: 16px;
  line-height: 22px;
}

.lh-52 {
  line-height: 52;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-30-c {
  margin-right: 15px;
  margin-left: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-20 {
  margin-left: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-correction {
  padding-right: -15px;
  padding-left: -15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.p-card-size {
  max-width: 255px;
  max-height: 255px;
}

.i-card-size {
  max-width: 555px;
  max-height: 555px;
}

.w555 {
  width: 555px;
}

.w350 {
  max-width: 350px;
}

.w720 {
  max-width: 720px;
}

.w1110 {
  max-width: 1110px;
}

.w1140 {
  max-width: 1140px;
}

.h520 {
  max-height: 520px;
}

.h1080 {
  max-height: 1080px;
}

.db {
  display: block;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bg-color-prim {
  background-color: #916000;
}

.color-prim {
  color: #916000;
}

.color-prim2 {
  color: #AC8A46;
}

.color-white {
  color: white;
}

.outline-btn {
  display: block;
  height: 60px;
  width: 365px;
  border: 2px solid;
  border-radius: 30px;
  text-align: center;
  line-height: 56px;
  color: inherit;
}

.outline-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 415px) {
  .outline-btn {
    width: 345px;
  }
}

.pagnation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagnation a {
  margin-right: 10px;
  margin-left: 10px;
}

.pagnation a:hover {
  color: #AC8A46;
  text-decoration: underline;
}

.logo-white {
  background-image: url(/img/d’Perfumewhite@2x.png);
  background-size: contain;
  width: 128px;
  height: 38px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.logo-prim {
  background-image: url(/img/d’Perfume@2x.png);
  background-size: contain;
  width: 128px;
  height: 38px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin: 9px auto;
}

@media (max-width: 415px) {
  .header {
    max-width: 100%;
  }
  .logo-prim {
    margin-left: 20px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav li {
  font-size: 20px;
  margin-left: 32px;
  line-height: 38px;
}

.nav li a {
  color: #8D8D8D;
  text-decoration: none;
}

.nav li a i {
  margin-right: 8px;
}

.nav li a:hover {
  color: silver;
}

.nav .cart {
  display: none;
}

.nav .ham-icon {
  position: absolute;
  right: 0px;
  top: -9px;
  display: none;
}

.nav .dropdown {
  display: none;
}

@media (max-width: 415px) {
  .ham-icon {
    display: block;
  }
  .nav {
    display: none;
  }
  .cart {
    margin-left: 20px;
    display: block;
  }
  .cart i {
    color: #8D8D8D;
    position: absolute;
    top: 16px;
    right: 0px;
    display: block;
    font-size: 20px;
  }
  .cart p {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 8px;
    color: white;
    background: #916000;
    display: block;
    width: 8px;
    border-radius: 4px;
  }
  .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
  }
  .dropdown .active {
    max-height: 280px;
  }
  .dropdown li a {
    display: block;
    width: 100%;
    background: #8D8D8D;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
  }
  .dropdown li a:hover {
    background: #5a5a5a;
  }
}

.brands-bar li a:hover {
  color: #AC8A46;
}

.footer {
  background-image: url(/img/index10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 600px;
  position: relative;
}

.subscribe {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 345px;
}

.subscribe h3 {
  font-size: 32px;
  line-height: 48px;
  color: #8D8D8D;
  font-weight: bold;
  padding-bottom: 20px;
}

.subscribeEmail {
  border: 2px solid #916000;
  border-radius: 4px;
  background-color: #fff;
  height: 60px;
}

.subscribeEmail input {
  font-size: 16px;
  padding: 18px 0 18px 16px;
  border-style: none;
}

.subscribeEmail button {
  width: 130px;
  border: 2px solid #916000;
  font-size: 16px;
  padding: 20px 18px;
  background-color: #916000;
  color: #fff;
}

.footerBar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 28px 0;
}

.footerBar-link li {
  font-size: 20px;
  margin-left: 36px;
  line-height: 30px;
}

.footerBar-link li a {
  color: #fff;
}

.footerBar-link li a:hover {
  color: #5e3e00;
}

@media (max-width: 416px) {
  .footer {
    margin-top: -20px;
  }
  .subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .subscribeEmail button {
    padding: 20px 10px;
  }
  .logo-white {
    margin-left: 15px;
  }
  .footerBar-link {
    display: none;
  }
}

.banner {
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 870px;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 33%;
  left: 50%;
  max-width: 445px;
  color: #FFFFFF;
}

.banner-text p {
  display: block;
  max-width: 445px;
}

@media (max-width: 415px) {
  .banner {
    padding-top: 480px;
    margin-bottom: 40px;
  }
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 445px;
    color: #FFFFFF;
  }
}

.product-photo1, .product-photo2, .product-photo3 {
  width: 555px;
  height: 555px;
  background-size: cover;
}

.product-photo1 {
  background-image: url(/img/index2.jpg);
}

.product-photo2 {
  background-image: url(/img/index3.png);
}

.product-photo3 {
  background-image: url(/img/index4.jpg);
}

.product-photo4 {
  background-image: url(/img/index5.jpg);
  width: 555px;
  height: 1080px;
  background-size: cover;
  background-position: center;
}

.product-photo4-text {
  width: 555px;
  padding: 90px auto;
}

.product-photo4-text h2 {
  font-size: 24px;
  font-weight: bold;
}

.product-photo4-text p {
  font-size: 16px;
  margin-bottom: 52px;
}

.product-gray {
  background-color: #E0E0E0;
  margin-bottom: 60px;
}

.product-photo5, .product-photo6, .product-photo7 {
  width: 350px;
  height: 540px;
  background-size: cover;
  background-position: center;
}

.product-photo5 {
  background-image: url(/img/index6.jpg);
}

.product-photo6 {
  background-image: url(/img/index7.jpg);
}

.product-photo7 {
  background-image: url(/img/index8.jpg);
}

.recycle {
  width: 720px;
  height: 520px;
  background-image: url(/img/index9.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 416px) {
  .row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-photo1, .product-photo2, .product-photo3, .product-photo5, .product-photo6, .product-photo7, .w555 {
    max-width: 345px;
    max-height: 350px;
  }
  .product-photo4 {
    max-width: 345px;
    max-height: 680px;
  }
  .product-photo4-text {
    max-width: 345px;
    padding: 8px 0 0 0;
  }
  .product-photo4-text h2 {
    margin-bottom: 4px;
  }
  .product-photo4-text p {
    margin-bottom: 20px;
  }
  .product-gray {
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .product-photo5, .product-photo6 {
    background-position: 50% 100%;
  }
  .product-photo5, .product-photo6, .product-photo7 {
    margin-top: 32px;
  }
  .recycle {
    max-width: 345px;
    max-height: 520px;
    margin: 0 auto;
  }
}

.products-photo1 {
  background-image: url(/img/products1.jpg);
  background-size: cover;
  background-position: center;
}

.products-photo2 {
  background-image: url(/img/index6.jpg);
  background-size: cover;
  background-position: 50% 100%;
}

.products-photo3 {
  background-image: url(/img/products3.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.products-photo4 {
  background-image: url(/img/products4.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.products-photo5 {
  background-image: url(/img/products5.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.products-photo6 {
  background-image: url(/img/index4.jpg);
  background-size: cover;
  background-position: 0% 50%;
}

.products-photo7 {
  background-image: url(/img/products7.jpg);
  background-size: cover;
  background-position: center;
}

.products-photo8 {
  background-image: url(/img/products8.jpg);
  background-size: cover;
  background-position: center;
}

.products-photo9 {
  background-image: url(/img/index3.png);
  background-size: cover;
  background-position: center;
}

.products-photo10 {
  background-image: url(/img/products10.jpg);
  background-size: cover;
  background-position: 50% 40%;
}

.products-photo11 {
  background-image: url(/img/products11.jpg);
  background-size: cover;
  background-position: center;
}

.products-photo12 {
  background-image: url(/img/products12.jpg);
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=all.css.map */