.products-photo1{
    background-image: url(/img/products1.jpg);
    background-size:cover;
    background-position: center;
}
.products-photo2{
    background-image: url(/img/index6.jpg);
    background-size:cover;
    background-position: 50% 100%;
}
.products-photo3{
    background-image: url(/img/products3.jpg);
    background-size:cover;
    background-position:50% 30%;
}
.products-photo4{
    background-image: url(/img/products4.jpg);
    background-size:cover;
    background-position:50% 30%;
}
.products-photo5{
    background-image: url(/img/products5.jpg);
    background-size:cover;
    background-position: 50% 30%;
}
.products-photo6{
    background-image: url(/img/index4.jpg);
    background-size:cover;
    background-position: 0% 50%;
}
.products-photo7{
    background-image: url(/img/products7.jpg);
    background-size:cover;
    background-position: center;
}
.products-photo8{
background-image: url(/img/products8.jpg);
background-size:cover;
background-position: center;
}
.products-photo9{
    background-image: url(/img/index3.png);
    background-size:cover;
    background-position: center;
}
.products-photo10{
background-image: url(/img/products10.jpg);
background-size:cover;
background-position: 50% 40%;
}
.products-photo11{
    background-image: url(/img/products11.jpg);
    background-size:cover;
    background-position: center;
}
.products-photo12{
background-image: url(/img/products12.jpg);
background-size:cover;
background-position: center;
}
